@charset "UTF-8";
html {
  font-size: 62.5%;
}

body,
p,
h1,
h2,
div,
button,
section,
fieldset {
  margin: 0;
  padding: 0;
}

p,
label,
button {
  font-size: 1.6rem;
}

input {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}
@media screen and (min-width: 1024px) {
  body {
    background-color: hsl(202, 86%, 94%);
  }
}

.displayNone {
  display: none;
}

.mortgage-calculator {
  box-shadow: 4px 7px 44px -18px rgba(0, 0, 0, 0.55);
}
@media screen and (min-width: 1024px) {
  .mortgage-calculator {
    background-color: hsl(0, 0%, 100%);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 20rem auto;
    max-width: 100rem;
  }
}

.mortgage-calculator-container {
  background-color: hsl(0, 0%, 100%);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 4rem;
}
@media screen and (min-width: 1024px) {
  .mortgage-calculator-container {
    border-bottom-left-radius: 3rem;
    border-top-left-radius: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.calculator-header {
  display: block;
}
@media screen and (min-width: 1024px) {
  .calculator-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
  }
}
.calculator-header h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.calculator-header .clear-all {
  background-color: transparent;
  border: none;
  border-bottom: 0.1rem solid #7e8d97;
  color: #7e8d97;
  cursor: pointer;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1024px) {
  .calculator-header .clear-all {
    margin: 0;
  }
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  position: relative;
}
form label {
  color: hsl(200, 24%, 40%);
  font-weight: 500;
  margin-bottom: 1.2rem;
}
form input {
  border: 0.1rem solid hsl(200, 24%, 40%);
  border-radius: 0.5rem;
  font-weight: 900;
  height: 5rem;
}
form input:focus-visible {
  outline: hsl(61, 70%, 52%) auto 0.1rem;
}
form input:focus-visible + span::before {
  background-color: hsl(61, 70%, 52%);
  color: hsl(202, 55%, 16%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  cursor: pointer;
}

.error-message {
  bottom: -2rem;
  color: hsl(4, 69%, 50%);
  display: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: absolute;
}

.input-group.error-state input {
  border: 0.1rem solid hsl(4, 69%, 50%);
}
.input-group.error-state input:focus-visible {
  outline: hsl(4, 69%, 50%);
}
.input-group.error-state .input-symbol::before {
  background-color: hsl(4, 69%, 50%);
  color: hsl(0, 0%, 100%);
}

.double-input-wrap {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  .double-input-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.input-symbol::before {
  align-items: center;
  background-color: hsl(202, 86%, 94%);
  bottom: 0.2rem;
  color: hsl(200, 24%, 40%);
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: absolute;
}

.mortgage-amount-input-wrap {
  position: relative;
}
.mortgage-amount-input-wrap input {
  padding-left: 7rem;
}
.mortgage-amount-input-wrap .input-symbol::before {
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  content: "£";
  justify-content: flex-start;
  left: 0.2rem;
}

.mortgage-term-input-wrap {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .mortgage-term-input-wrap {
    width: 20rem;
  }
}
.mortgage-term-input-wrap input {
  padding-left: 2rem;
}
.mortgage-term-input-wrap .input-symbol::before {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  content: "years";
  right: 0.2rem;
}

.interest-rate-input-wrap {
  position: relative;
}
@media screen and (min-width: 1024px) {
  .interest-rate-input-wrap {
    width: 20rem;
  }
}
.interest-rate-input-wrap input {
  padding-left: 2rem;
}
.interest-rate-input-wrap .input-symbol::before {
  border-bottom-right-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  content: "%";
  right: 0.2rem;
}

.calculator-selector .error-message {
  bottom: initial;
}
.calculator-selector button {
  align-items: center;
  align-self: center;
  background-color: hsl(61, 70%, 52%);
  border: none;
  border-radius: 2.5rem;
  display: flex;
  font-weight: 700;
  height: 5rem;
  justify-content: flex-start;
  padding-left: 4rem;
  width: 30rem;
}
.calculator-selector button img {
  margin-right: 1rem;
  width: 2.6rem;
}

fieldset {
  border: none;
}
@media screen and (min-width: 1024px) {
  fieldset {
    margin-bottom: 3rem;
  }
}
fieldset legend {
  color: hsl(200, 24%, 40%);
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.radio-wrapper {
  align-items: center;
  border: 0.1rem solid hsl(200, 24%, 40%);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  height: 5rem;
  margin-bottom: 2rem;
  padding-left: 2rem;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .radio-wrapper {
    margin-bottom: 1rem;
  }
}
.radio-wrapper:focus-within {
  background-color: hsl(61, 70%, 92%);
  border-color: hsl(61, 70%, 52%);
  box-shadow: hsl(61, 70%, 52%);
  outline: none;
}
.radio-wrapper label {
  color: hsl(202, 55%, 16%);
  cursor: pointer;
  font-weight: 700;
  margin: 0;
}
.radio-wrapper .custom-radio-checkmark {
  background-color: hsl(0, 0%, 100%);
  border: 0.2rem solid #7e8d97;
  border-radius: 50%;
  height: 2rem;
  margin-right: 2rem;
  position: relative;
  width: 2rem;
}
.radio-wrapper input[type=radio] {
  opacity: 0;
  position: absolute;
  z-index: 1;
}
.radio-wrapper input[type=radio]:checked + .custom-radio-checkmark {
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(61, 70%, 52%);
}
.radio-wrapper input[type=radio]:checked + .custom-radio-checkmark::after {
  background-color: hsl(61, 70%, 52%);
  border-radius: 50%;
  content: "";
  height: 1.3rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1.3rem;
}
.radio-wrapper input[type=radio]:focus + .custom-radio-checkmark {
  box-shadow: hsl(61, 70%, 52%);
}

.results-container {
  background-color: hsl(202, 55%, 16%);
  color: hsl(0, 0%, 100%);
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 4rem;
}
@media screen and (min-width: 1024px) {
  .results-container {
    border-bottom-left-radius: 8rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    padding-left: 4em;
    padding-right: 4em;
  }
}
.results-container h1 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.results-container p {
  line-height: 1.6;
  margin-bottom: 5rem;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.default.displayNone {
  display: none;
}
.default h1 {
  margin-bottom: 2rem;
}
.default p {
  max-width: 30rem;
  text-align: center;
}

.live-results {
  padding-bottom: 6rem;
}

.results-wrap {
  background-color: hsl(61, 70%, 52%);
  border-radius: 0.8rem;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.results-wrap p {
  color: hsl(200, 26%, 54%);
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}
.results-wrap h3 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 0;
}
.results-wrap.interest-only {
  display: block;
}
.results-wrap.interest-only .interest-only-result {
  padding-top: 0.5rem;
}
.results-wrap.interest-only .total-term {
  border-radius: 0.8rem;
  padding-bottom: 4rem;
}

.monthly-repayments {
  background-color: #0c2432;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3.5rem;
  position: relative;
  top: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .monthly-repayments {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.monthly-repayments h3 {
  border-bottom: 0.1rem solid hsl(200, 26%, 54%);
  color: hsl(61, 70%, 52%);
  padding-bottom: 2rem;
}

.total-term {
  background-color: #0c2432;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  padding-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 3rem;
}
@media screen and (min-width: 1024px) {
  .total-term {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
.total-term h3 {
  font-size: 3rem;
}/*# sourceMappingURL=main.css.map */