@import "variables";

@mixin column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    font-size: 62.5%;
}

body,
p,
h1,
h2,
div,
button,
section,
fieldset {
    margin: 0;
    padding: 0;
}
p,
label,
button {
    font-size: 1.6rem;
}
input {
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;

    @media screen and (min-width: $bp-lg) {
        background-color: $slate-100;
    }
}

h1 {
    color: $slate-100;
}

.displayNone {
    display: none;
}

.mortgage-calculator {
    -moz-box-shadow: 4px 7px 44px -18px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 4px 7px 44px -18px rgba(0, 0, 0, 0.55);
    box-shadow: 4px 7px 44px -18px rgba(0, 0, 0, 0.55);

    @media screen and (min-width: $bp-lg) {
        background-color: $white;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        margin: 20rem auto;
        max-width: 100rem;
    }
}

.mortgage-calculator-container {
    background-color: $white;
    padding: 4rem 2.5rem 0;

    @media screen and (min-width: $bp-lg) {
        border-bottom-left-radius: 3rem;
        border-top-left-radius: 3rem;
        padding: 4rem 4rem 0;
    }
}

.calculator-header {
    display: block;

    @media screen and (min-width: $bp-lg) {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 5rem;
    }

    h1 {
        color: $slate-900;
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
}

.clear-all {
    background-color: transparent;
    border: none;
    border-bottom: 0.1rem solid $gray;
    color: $gray;
    cursor: pointer;
    margin-bottom: 3rem;

    @media screen and (min-width: $bp-lg) {
        margin: 0;
    }
}

form {
    div {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        position: relative;
    }

    label {
        color: $slate-700;
        font-weight: 500;
        margin-bottom: 1.2rem;
    }
    input {
        border: 0.1rem solid $gray;
        border-radius: 0.5rem;
        font-weight: 900;
        height: 5rem;

        &:focus-visible {
            outline: $lime auto 0.1rem;

            + span {
                background-color: $lime;
                color: $slate-900;
            }
        }
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    cursor: pointer;
}
.error-message {
    bottom: -2rem;
    color: $red;
    display: none;
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
}

.input-group {
    &.error-state {
        input {
            border: 0.1rem solid $red;

            &:focus-visible {
                outline: $red;
            }
        }
        .input-symbol {
            background-color: $red;
            color: $white;
        }
    }
}

.double-input-wrap {
    margin: 0;

    @media screen and (min-width: $bp-lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .input-symbol {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0.46rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0.46rem;
        left: unset;
        right: 0.1rem;
    }
}

.input-symbol {
    align-items: center;
    background-color: $slate-100;
    border-bottom-left-radius: 0.46rem;
    border-top-left-radius: 0.46rem;
    bottom: 0.1rem;
    color: $slate-700;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    height: 4.8rem;
    left: 0.1rem;
    padding: 0 2rem;
    position: absolute;
}
.mortgage-amount-input-wrap {
    position: relative;

input {
        padding-left: 7rem;
    }
}
.mortgage-term-input-wrap {
    position: relative;

    @media screen and (min-width: $bp-lg) {
        width: 20rem;
    }

    input {
        padding-left: 2rem;
    }
}
.interest-rate-input-wrap {
    position: relative;

    @media screen and (min-width: $bp-lg) {
        width: 20rem;
    }

    input {
        padding-left: 2rem;
    }
    .input-symbol {
}
}
.calculator-selector {
    .error-message {
        bottom: initial;
    }

    button {
        align-items: center;
        align-self: center;
        background-color: $lime;
        border: none;
        border-radius: 2.5rem;
        display: flex;
        font-weight: 700;
        height: 5rem;
        justify-content: flex-start;
        padding-left: 4rem;
        width: 30rem;

        @media screen and (min-width: $bp-lg) {
            align-self: flex-start;
        }

        img {
            margin-right: 1rem;
            width: 2.6rem;
        }
    }
}

fieldset {
    border: none;
    margin-bottom: 3rem;

    @media screen and (min-width: $bp-lg) {
        margin-bottom: 6rem;
    }
}

legend {
    color: $slate-700;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.radio-wrapper {
    align-items: center;
    border: 0.1rem solid $gray;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    height: 5rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    position: relative;

    @media screen and (min-width: $bp-lg) {
        margin-bottom: 1rem;
    }
    &:focus-within {
        background-color: hsl(61, 70%, 92%);
        border-color: $lime;
        box-shadow: $lime;
        outline: none;
    }

    label {
        color: $slate-900;
        cursor: pointer;
        font-weight: 700;
        margin: 0;
    }
}

.custom-radio-checkmark {
    background-color: $white;
    border: 0.2rem solid $gray;
    border-radius: 50%;
    height: 2rem;
    margin-right: 2rem;
    position: relative;
    width: 2rem;
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    z-index: 1;

    &:checked + .custom-radio-checkmark {
        background-color: $white;
        border-color: $lime;

        &::after {
            background-color: $lime;
            border-radius: 50%;
            content: "";
            height: 1.3rem;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1.3rem;
        }
    }

    &:focus + .custom-radio-checkmark {
        box-shadow: $lime;
    }
}

.results-container {
    background-color: $slate-900;
    color: $white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 4rem;

    @media screen and (min-width: $bp-lg) {
        border-bottom-left-radius: 8rem;
        border-bottom-right-radius: 3rem;
        border-top-right-radius: 3rem;
        padding-left: 4em;
        padding-right: 4em;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    p {
        color: $slate-300;
        line-height: 1.6;
        margin-bottom: 5rem;
    }
}

.default {
    @include column-centered;
    align-items: center;
    justify-content: center;

    &.displayNone {
        display: none;
    }

    h1 {
        margin-bottom: 2rem;
    }

    p {
        max-width: 30rem;
        text-align: center;

        @media screen and (min-width: $bp-lg) {
            max-width: initial;
        }
    }
}

.live-results {
    padding-bottom: 6rem;
}

.results-wrap {
    background-color: $lime;
    border-radius: 0.8rem;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);

p {
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
    }
    h3 {
        font-size: 4rem;
        margin: 0;
        margin-bottom: 0;
    }
}

.interest-only {
    display: block;

    .interest-only-result {
        padding-top: 0.5rem;
    }

    .total-term {
        border-radius: 0.8rem;
        padding-bottom: 4rem;
    }
}

.monthly-repayments {
    background-color: $dark-blue;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3.5rem;
    position: relative;
    top: 0.5rem;

    // padding-bottom: 3rem;
    @media screen and (min-width: $bp-lg) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    h3 {
        border-bottom: 0.1rem solid $slate-500;
        color: $lime;
        padding-bottom: 2rem;
    }
}
.total-term {
    background-color: $dark-blue;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;

    @media screen and (min-width: $bp-lg) {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    h3 {
        font-size: 3rem;
    }
}

